<%= form_with(model: @author, local: true) do |form| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </div>

  <section class='section right-align'>
    <div class='waves-effect waves-light btn'>
      <%= form.submit class: 'white-text' %>
    </div>
  </section>
  <section section>
  <h5>Description</h5>
  <p> The philosophy of Epicurus (341–270 B.C.E.) was a complete and interdependent system, involving a view of the goal
   of human life (happiness, resulting from absence of physical pain and mental disturbance), an empiricist theory of knowledge 
   (sensations, together with the perception of pleasure and pain, are infallible criteria), a description of nature based on
    atomistic materialism, and a naturalistic account of evolution, from the formation of the world to the emergence of human 
    societies. Epicurus believed that, on the basis of a radical materialism which dispensed with transcendent entities such 
    as the Platonic Ideas or Forms, he could disprove the possibility of the soul’s survival after death, and hence the prospect
     of punishment in the afterlife. He regarded the unacknowledged fear of death and punishment as the primary cause of anxiety 
     among human beings, and anxiety in turn as the source of extreme and irrational desires. The elimination of the fears and 
     corresponding desires would leave people free to pursue the pleasures, both physical and mental, to which they are naturally
  </p>
</section>
<% end %>
