<div class="nav-wrapper container">
  <%= link_to 'Book Store', root_for_resource, class: 'brand-logo' %>
  <% unless admin_signed_in? %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to name_for_sign_in_or_sign_out, sign_in_or_sign_out_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path unless user_signed_in? %></li>
    </ul>
  <% end %>

  <% if admin_signed_in? %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Books', books_path %></li>
      <li><%= link_to 'Authors', authors_path %></li>
      <li><%= link_to 'Customers', customers_path %></li>
    </ul>
  <% end %>
</div>