<div class='container section'>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td> <%= book.title %> </td>
        <td> <%= book.price %> </td>
        <td> <%= book.quantity %> </td>
        <td> <%= book.authors %> </td>
        <td> <%= link_to 'Show', book_path(book) %> </td>
        <td> <%= link_to(display_link_name(book), publish_or_unpublish_path(book), method: 'patch') %> </td>
      </tr>
      </tbody>
    <% end %>
    </table>
  <section class="section right-align">
    <div class='waves-effect waves-light btn mt-6'>
      <%= link_to 'New Book', new_book_path, class: 'white-text' %>
    </div>
  </section>
</div>