<!DOCTYPE html>
<html>
  <head>
    <title>Book store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
    <p class='container'><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class='container'><%= flash[:alert] %></p>
  <% end %>
    <nav>
      <div class="nav-wrapper container">
        <%= link_to 'Book Store', root_path, class: 'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to name_for_sign_in_or_sign_out,  sign_in_or_sign_out_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path unless user_signed_in? %></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
